$color-cajas: #735d331b;
$fondo-color-footer: #434343;
$fondo-nuevoPost: #735d331b;
$color-boton: orange;

@mixin boton ($colorboton){
    background-color: $color-boton;
    text-decoration: underline $color-boton;
    border-radius: 30px;
    padding: 16px;   
    margin-bottom: 10px;    
    &:hover{
        transform: scale(1.1, 1.1);
        text-decoration-color: $color-boton;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "SofiaSans-Light";
    h1, h2, h3, h4, h5{
        font-family: "SofiaSans-Regular";
        color: rgb(9, 3, 3);
        text-align: center;
        padding: 15px;         
    }
    p{
        font-size: 1.5rem;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 1.5;
        padding: 15px;
    }
}
footer{
    background-color: $fondo-color-footer;
    margin-bottom: 10px;
    .logoAlPie{
        margin-bottom: 40px;
        padding: 20px; 
        .logo{
            width: 100px;
            height: 100px;
            border-radius: 5px; 
        }              
    }
    .footerBottom{
        .redesFooter{
            display: flex;
            
            align-items: center;
            
            padding: 20px;
            .iconoInstagram{
                border: #8a8a8a 2px solid;
                width: 30px;
                border-radius: 50%;
                margin: 5px;
            }
            .iconoFacebook{
                border: #8a8a8a 2px solid;
                width: 30px;
                border-radius: 50%;
                margin: 5px;
            }
            .iconoTwiter{
                border: #8a8a8a 2px solid;
                width: 30px;
                border-radius: 50%;
                margin: 5px;
            }
            .iconoWhatsapp{
                border: #8a8a8a 2px solid;
                width: 30px;
                border-radius: 50%;
                margin: 5px;
            }
        }
    }
    
    h5{
        color: white;
    }   
}
@font-face {
    font-family: "SofiaSans-Light";
    src: url(../assets/fonts/SofiaSans-Light.ttf);
}  
@font-face {
    font-family: "SofiaSans-Regular";
    src: url(../assets/fonts/SofiaSans-Regular.ttf);
}
@import "index";
@import "about";
@import "blog";
@import "animalflow";
@import "nutricion";
@import "kettlebells";            
@import "contacto";  

@media screen and (max-width: 768px){               
    header{
        .fotoPortada{
            background-image: url(../img/entrenamientoKettlebells2.JPG);
            height: 450px;
            background-attachment: local;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0px;
            margin: 0px;                 
        } 
        .fotoPortadaAbout{
            background-attachment: local;
            height: 250px;
        }
        .fotoPortadaScorpion{
            height: 250px;            
            background-attachment: local;
        }
        .fotoPortadaBlog{            
            height: 250px;            
            background-attachment: local; 
        }
        .fotoPortadaKettlebells{
            height: 250px;            
            background-attachment: local; 
        }
        .fotoPortadaNutricion{
            height: 250px;            
            background-attachment: local;
        }
        .hamburguesa{
            margin: 40px;        
        }                     
    }
    main{
        .sectionNuevoPost{       
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.2fr 0.5fr 0.5fr 0.2fr;
            grid-template-areas: 
            "titulo"
            "imagen"
            "texto"
            "cta";                                  
            .Subtitulo{
                grid-area: titulo;
                height: 100px;                
            }   
            .cajaTextoPosteo{
                grid-area: texto;            
            } 
            .cajaImagenPosteo{
                 grid-area: imagen;                    
                 margin-top: 0px;
                 margin-bottom: 0px;                 
                 width: 100%;
                 margin: auto;                            
                 .fotoPosteos{        
                    width: 70%;
                    height: 70%;
                    margin: auto;                                    
                }
            }
            .divCalltoaction{
                grid-area: cta;
                display: flex;
                align-items: flex-start;
                padding: 10px;
            }         
        }
        .sectionReviews{
            .cajaReviews{
                flex-direction: column;
                .review{
                    align-self: center;
                }
            }
        }
        .sectionProximosCursos{           
            .cajaProximosCursos{
                flex-direction: column;
                .proximoCurso{                                       
                    width: 100%;
                    border: $color-cajas 5px solid;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                 }
            }
        }
        
        .cajaBlog{                
                .divImagenYtituloBlog{
                    flex-direction: column;
                    .cajaImagenBlog{
                        width: 70%;
                        margin: auto;                         
                        .fotoPosteos{
                            margin: auto;                        
                            width: 100%; 
                            height: 100%;  
                        }
                    } 
                    .cajaTituloYtextoBlog{
                        display: flex;
                        flex-direction: column;
                        width: 100%; 
                    }                   
                }                    
        }                   
        .cajaContacto{
            .container{
                .mapa{              
                    display: flex;
                    flex-direction: column;                   
                    margin: 0px auto;
                    justify-content: center;
                    overflow: hidden;
                }            
            }        
        }
       
    }
}                              
@media screen and (max-width: 480px){
    header{        
        .fotoPortada{
            height: 250px;            
            background-attachment: local;           
            .header2{
                .divSlogan{
                    h2{
                        font-size: 1.8rem;
                    }
                }
                .divCalltoaction{                   
                        .calltoaction{        
                            text-decoration-color: $color-boton;
                            font-size: medium; 
                            text-decoration: underline $color-boton;
                            padding-left: 50px;
                            padding-right: 50px; 
                            padding-top: 15px;
                            padding-bottom: 15px;    
                        } 
                }                  
            }
        }
        .fotoPortadaAbout{
            height: 250px;            
            background-attachment: local;
            
            .header2{
                .divSlogan{
                    h2{
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .fotoPortadaScorpion{
            height: 250px;            
            background-attachment: local;
            .header2{
                .divSlogan{
                    h2{
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .fotoPortadaBlog{            
            height: 250px;            
            background-attachment: local;             
            .header2{
                .divSlogan{
                    h2{
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .fotoPortadaKettlebells{
            height: 250px;            
            background-attachment: local;            
            .header2{
                .divSlogan{
                    h2{
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .fotoPortadaNutricion{
            height: 250px;            
            background-attachment: local;                      
            .header2{
                .divSlogan{
                    h2{
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
    main{
        .cajaIntroduccion{
            margin-left: 2px;
            margin-right: 2px;   
            margin: auto; 
            margin-top: 20px;
            margin-bottom: 20px;        
            .divCalltoaction{
                .botonContacto{
                    text-decoration: none;
                    .calltoaction{                    
                        text-decoration-color: $color-boton;
                        font-size: medium; 
                        text-decoration: underline $color-boton;
                        padding-left: 50px;
                        padding-right: 50px; 
                        padding-top: 10px;
                        padding-bottom: 10px; 
                    }      
                }
                
            }
        }
        .mainAbout{
            .cajaTextoAbout{
                margin-left: 2px;
                margin-right: 2px;   
                margin: auto; 
                margin-top: 20px;
                margin-bottom: 20px;  
                .divCalltoaction{
                    .calltoaction{
                        text-decoration-color: $color-boton;
                        font-size: medium; 
                        text-decoration: underline $color-boton;
                        padding-left: 50px;
                        padding-right: 50px; 
                        padding-top: 10px;
                        padding-bottom: 10px; 
                    }
                }
            }           
        }
        .cajaBlog{
            margin-left: 1px;
            margin-right: 1px;
            .divCalltoaction{
                .calltoaction{
                    text-decoration-color: $color-boton;
                    font-size: medium; 
                    text-decoration: underline $color-boton;
                    padding-left: 50px;
                    padding-right: 50px; 
                    padding-top: 10px;
                    padding-bottom: 10px; 
                }
            } 
            .divImagenYtituloBlog{
                .cajaImagenBlog{  
                    width: 100%;                            
                    .fotoPosteos{                    
                       width: 100%;
                       height: 100%;           
                    }
                }            
            }                        
            
        }
        .cajaCurso{
            .reservarCurso{
                .divCalltoaction{
                    .calltoactionSmall{                       
                        text-decoration-color: $color-boton;
                        font-size: medium; 
                        text-decoration: underline $color-boton;
                        padding-left: 50px;
                        padding-right: 50px; 
                        padding-top: 10px;
                        padding-bottom: 10px; 
                    }
                }
            }
            .carousel{
                width: 200px;
                margin: 2px  auto;
                padding: 0px;  
            }
        }
        .cajaContacto{
            .container{
                .letraPisaBootstrap{
                    .calltoaction{
                        font-size: small;                       
                        padding-left: 50px;
                        padding-right: 50px;
                        padding-top: 10px;
                        padding-bottom: 10px; 
                    }
                }
            }
        } 
        .sectionProximosCursos{
            margin-left: 2px;
            margin-right: 2px;   
            margin: auto; 
            margin-top: 20px;
            margin-bottom: 20px; 
            .cajaProximosCursos{
                .proximoCurso{
                    width: 100%;
                    border: $color-cajas 5px solid;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    .divCalltoaction{
                        .calltoaction{                       
                            text-decoration-color: $color-boton;
                            font-size: medium; 
                            text-decoration: underline $color-boton;
                            padding-left: 40px;
                            padding-right: 40px; 
                            padding-top: 10px;
                            padding-bottom: 10px; 
                        }
                    }
                }
            } 
        }
        .sectionReviews{
            margin-left: 2px;
            margin-right: 2px;   
            margin: auto; 
            margin-top: 20px;
            margin-bottom: 20px;             
            .review{
                border: #fecb01b6 5px solid;
            }
        }
        .sectionNuevoPost{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 2px;
            margin-right: 2px;   
            margin: auto; 
            margin-top: 20px;
            margin-bottom: 20px; 
            border:  #fecb0123 5px solid;
            .Subtitulo{
                height: 70px;               
                margin-bottom: 0px;
            }
            .cajaImagenPosteo{                               
                margin-top: 0px;
                margin-bottom: 0px;
                background-color:  #fecb0123;
                width: 100%;
                margin: auto;
                .fotoPosteos{
                   width: 100%;
                   height: 100%;               
                }
            }
            .cajaTextoPosteo{               
                margin-top: 0px;
                background-color:  #fecb0123;
            }
            .divCalltoaction{
                background-color:  #fecb0123;
                .calltoaction{                       
                    text-decoration-color: $color-boton;
                    font-size: medium; 
                    text-decoration: underline $color-boton;
                    padding-left: 50px;
                    padding-right: 50px; 
                    padding-top: 10px;
                    padding-bottom: 10px; 
                }
            }
        }        
    }                                     
}                   
           
        
                   
                      
                                               
                
     
            